@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans', sans-serif;
  overflow-y: auto;
  min-width: 375px;
}
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #7f8497;
  border: 3px solid #ffffff;
  border-radius: 20px;
  transition: opacity 0.3s ease-in-out;
}
html:hover::-webkit-scrollbar-thumb {
  visible: visible;
}
html,
body,
#app {
  height: 100%;
}
sub {
  bottom: 0;
}

.v-field--variant-outlined .v-field__outline__notch {
  border-width: 0 !important;
}

.v-field__outline__start {
  border-radius: 4px 0 0 4px;
}
.v-field__outline__end {
  border-radius: 0 4px 4px 0;
}

.v-table__wrapper {
  border-top: 2px solid #1b53a0;
  border-bottom: 1px solid #e2e2e2;
}

.v-pagination__item--is-active {
  .v-btn {
    background-color: #1b53a0;
    color: white;
  }
}

/* Checkbox */
.form-checkbox {
  @apply appearance-none w-5 h-5 rounded-sm align-top bg-white border border-solid border-[#999999] bg-checkbox-bg bg-no-repeat bg-0 focus:outline-none cursor-pointer shadow-sm checked:bg-right checked:border-0 checked:bg-[#1b53a0] checked:bg-full transition-all;
}
.table-basic {
  @apply w-full border-t-2 border-[#0076ca] text-sm;
  thead th {
    @apply font-bold h-[53px] border-b border-[#e2e2e2] px-6;
  }
  tbody td {
    @apply py-3 border-b border-[#e2e2e2];
  }
}
